.input {
	width: 100%;
	height: 40px;
	border-radius: 0;
	box-sizing: border-box;
	margin: 20px 0;
	padding-left: 10px;
}

.input::placeholder {
	font-weight: bold;
}

.input:focus {
	outline: none;
}
